<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/styles/mystyle.css">
	</head>
	<body>
		<div class="text-center">
			<h1 class="header">User</h1>
		</div>
		<!--menu starts-->
		<div class="text-center">
			<a href="/user" class="btn btn-primary">Dashboard</a>
			<a href="/admin/allcars" class="btn btn-warning">All Cars</a>
			<a href="/admin/addnewcar" class="btn btn-danger">Add Car</a>
			<a href="/admin/allusers" class="btn btn-warning">All Users</a>
            <a href="/admin/addnewadmin" class="btn btn-info">Add New Admin</a>
            <a href="/admin/renthistory" class="btn btn-info">See Rent History</a>
            <a href="/admin/profile" class="btn btn-info">Profile</a>
			<a href="/logout" class="btn btn-danger">Logout</a>
		</div>
		<div class="col-md-12">
            <div class="card-product col-md-4">
                <a href="item.php">
                    <img class="card-image" src="https://media.wired.com/photos/5d09594a62bcb0c9752779d9/1:1/w_1500,h_1500,c_limit/Transpo_G70_TA-518126.jpg"></img>
                    <b class="text"> Transpo_G70_TA-518126</b>
                </a>
                <div class="price-label"><span ><b>5000 BDT(Per Hour)</b></span></div>
                <div class="add-to-cart"><a class="btn btn-success" style="width:185px;font-family:consolas;margin-top:5px;">Rent the Car</a></span></div>
                
            </div>
            <div class="card-product col-md-4">
                <a href="item.php">
                    <img class="card-image" src="https://media.wired.com/photos/5d09594a62bcb0c9752779d9/1:1/w_1500,h_1500,c_limit/Transpo_G70_TA-518126.jpg"></img>
                    <b class="text"> Transpo_G70_TA-518126</b>
                </a>
                <div class="price-label"><span ><b>5000 BDT(Per Hour)</b></span></div>
                <div class="add-to-cart"><a class="btn btn-success" style="width:185px;font-family:consolas;margin-top:5px;">Rent the Car</a></span></div>
                
            </div>
            <div class="card-product col-md-4">
                <a href="item.php">
                    <img class="card-image" src="https://media.wired.com/photos/5d09594a62bcb0c9752779d9/1:1/w_1500,h_1500,c_limit/Transpo_G70_TA-518126.jpg"></img>
                    <b class="text"> Transpo_G70_TA-518126</b>
                </a>
                <div class="price-label"><span ><b>5000 BDT(Per Hour)</b></span></div>
                <div class="add-to-cart"><a class="btn btn-success" style="width:185px;font-family:consolas;margin-top:5px;">Rent the Car</a></span></div>
                
            </div>
            <div class="card-product col-md-4">
                <a href="item.php">
                    <img class="card-image" src="https://media.wired.com/photos/5d09594a62bcb0c9752779d9/1:1/w_1500,h_1500,c_limit/Transpo_G70_TA-518126.jpg"></img>
                    <b class="text"> Transpo_G70_TA-518126</b>
                </a>
                <div class="price-label"><span ><b>5000 BDT(Per Hour)</b></span></div>
                <div class="add-to-cart"><a class="btn btn-success" style="width:185px;font-family:consolas;margin-top:5px;">Rent the Car</a></span></div>
                
            </div>
            <div class="card-product col-md-4">
                <a href="item.php">
                    <img class="card-image" src="https://media.wired.com/photos/5d09594a62bcb0c9752779d9/1:1/w_1500,h_1500,c_limit/Transpo_G70_TA-518126.jpg"></img>
                    <b class="text"> Transpo_G70_TA-518126</b>
                </a>
                <div class="price-label"><span ><b>5000 BDT(Per Hour)</b></span></div>
                <div class="add-to-cart"><a class="btn btn-success" style="width:185px;font-family:consolas;margin-top:5px;">Rent the Car</a></span></div>
                
            </div>
            <div class="card-product col-md-4">
                <a href="item.php">
                    <img class="card-image" src="https://media.wired.com/photos/5d09594a62bcb0c9752779d9/1:1/w_1500,h_1500,c_limit/Transpo_G70_TA-518126.jpg"></img>
                    <b class="text"> Transpo_G70_TA-518126</b>
                </a>
                <div class="price-label"><span ><b>5000 BDT(Per Hour)</b></span></div>
                <div class="add-to-cart"><a class="btn btn-success" style="width:185px;font-family:consolas;margin-top:5px;">Rent the Car</a></span></div>
                
            </div> 
        </div>
        		<!--footer-->
		<footer class="footer">
			<h4>APWT Mid Assignment</h4>
		</footer>
		
	</body>
</html>